.contMenu{
display: flex;
width: 100%;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;
align-items:stretch;
margin-bottom: 30px;
}
@media(max-width: 600px){
.contMenu{
flex-direction: column;
align-items: center;
}
}
.header button{
z-index: 10;
position: fixed;
right: 30px;
top: 50px;
cursor: pointer;
border: 1px solid#FFF0F5;
border-radius: 5px;
background: #00e676;
color: black;
font-size: 16px;
transition: .5s;
width: 100px;
}
.header button:focus{
outline: none;
background-color: #FFF0F5;
}
.header button:hover{
box-shadow: 0px 0px 2px 3px #69f0ae;
color: black;
}
.back, .basket{
display: none;
}

.input{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.input label{
margin: 10px;
}
.buyButton{
position: fixed;
bottom: 0px;
cursor: pointer;
appearance: none;
border: 1px solid #D3D3D3;
border-radius: 5px;
background: #00e676;
color: black;
font-size: 16px;
transition: .5s;
width: 150px;
right: 30px;
}
.buyButton:focus{
outline: none;

}

.buyButton:hover{
box-shadow: 0px 0px 2px 3px #69f0ae;
background-color:#00c853 ;
color: black;
}