.contMenu{
display: flex;
width: 100%;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;
align-items: stretch;
}
@media(max-width: 600px){
.contMenu{
flex-direction: column;
align-items: center;
}
}
.header button{
z-index: 10;
position: fixed;
right: 30px;
top: 50px;
cursor: pointer;
background-color:#00897b;
color: white;
border-radius: 5px;
transition: .5s;
width: 100px;
}
.header button:focus{
outline: none;
}
.header button:hover{
background-color: #80cbc4;
border: solid .5px #d4e157;
color: black;
}
.back, .basket{
display: none;
}
.input{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.input label{
margin: 10px;
}
.buyButton{
position: fixed;
bottom: 0px;
bottom: 0px;
cursor: pointer;
background-color:#00897b;
color: white;
border-radius: 5px;
transition: .5s;
width: 150px;
right: 30px;
}
.buyButton:focus{
outline: none;
}
.buyButton:hover{
    background-color: #80cbc4;
    border: solid .5px #d4e157;
    color: black;
    }