.cont{
display: flex;
width: 100%;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;
align-items: stretch;
}
.cart{
width: 45%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
border: solid 1px black;
border-radius: 10px;
background-color:#212121;
color: white;
text-align: center;
margin-top: 20px;
align-items: center;
justify-content: space-between;
padding: 10px;
}
.delete button{
right: 0px;
cursor: pointer;
background-color: #ffeb3b;
color: black;
margin-bottom: 10px;
border-radius: 5px;
}
.delete button:focus{
outline: none;
background-color: #e91e63 ;
}
.delete button:hover{
background-color: #ffff8d;
}
.delete{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}
@media(max-width: 660px){
.cont{
flex-direction: column;
}
.cart{
width: 90%;
}
}